a {
    width: 15.1875rem;
    padding: .75rem;
    display: block;
    background-color: var(--col-white);
    box-shadow: var(--box-shadow--2);
    border-radius: .5rem;

    img {
        width: 100%;
        height: 8.125rem;
        object-fit: cover;
        border-radius: inherit;
    }

    .members {
        margin-top: 1.3125rem;
    }
}