.form-wrapper {
    max-width: 50rem;
    width: 100%;
    display: flex;

    @include breakpoints-down("medium") {
        justify-content: center;
    }
}

.decoration {
    flex: 60%;
    background-color: var(--col-blue);
    min-height: 10rem;

    svg {
        color: #ffffff;
    }

    @include breakpoints-down("medium") {
        display: none;
    }
}

.form {
    flex: 40%;
}