:host {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

[id^="rect"] {
    transform-origin: center center;
}

@for $i from 0 through 2 {
    #rect-#{$i + 1} {
        animation: .4s linear calc(#{$i} * 0.15s) infinite alternate loadingAnimation;
    }
}

@keyframes loadingAnimation {
    from {
        transform: scaleY(1);
    } to {
        transform: scaleY(5);
    }
}