*,
*::before,
*::after {
  margin: 0; 
  padding: 0;
  box-sizing: border-box; 
}

html {
  font-family: Poppins, sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--col-bg-gray);
}

input,
button,
textarea {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

a:not([data-link]) {
  color: inherit;
  text-decoration: none;
}

a[data-link] {
  color: var(--col-blue);
}

h2 {
  color: var(--col-font-heading);
  font-weight: 600;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

h4 {
  font-size: 0.75rem;
  color: var(--col-font-heading);
}

hr {
  color: var(--col-gray--3);
  margin: 1rem 0;
}