:root {
    --col-white: #ffffff;
    --col-blue: #2F80ED;
    --col-dark-blue: #0d70f1; 
    --col-gray: #eee;
    --col-gray--2: #BDBDBD; 
    --col-gray--3: #F2F2F2;
    --col-gray--4: #828282;
    --col-bg-gray: #f2f2f2;
    --col-red: #cf3645;
    --col-lightred: #ff6877; 

    --box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .05); 
    --box-shadow--2: 0px 0px 3px 3px rgba(0, 0, 0, .05); 
}